# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]

# Ignore all images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.ppm

# Predownloaded models
hf_cache/hub/
hf_cache/realesrgan-models/*
hf_cache/realesrgan-ncnn-vulkan/*

# Distribution / packaging
.Python
env/
.venv
venv

# Unit test / coverage reports
.coverage
.coverage.*
.cache
coverage.xml

# Pycharm
.idea

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/
*.ipynb

# Mac OS-specific storage files
.DS_Store

# Caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.neptune/
/cache/*
!/cache/.gitkeep

# Personal files
credentials.json
.env

# Test scripts
test.ipynb

# Ignore everything in image_store
data/*

# But do not ignore .gitkeep
!data/.gitkeep

*.csv
*.png
*.mp4
*.srt
*.mp3
*.db
*.sqlite
*.sqlite3
*.zip
video_script.yaml
store/projects/*
hf_cache
notebooks/
outputs/
